.card-data{
    color: #ddd;
}
.card-data-span{
    color: var(--color-accent);
}
.rojo{
    color: red;
}
.title{
    color: var(--color-accent);
    font-size: 2em;
}
.episodes{
    width: 90%;
    margin: auto;
}
.episode{
    color: #ddd;
    padding-bottom: .5em;
    line-height: 1.5em;
    border-bottom: 1px solid grey;
}