.ctn-pagination{
    margin-top: 200px;
    width: 310px;
    margin: auto;
    text-align: center;
}
.pagination{
    display: flex;
    li{
        list-style: none;
        width: auto;
        padding: 0 .5em;
        line-height: 2em;
        border: 1px solid grey;
        border-right: 0;
        background: white;
        &:nth-child(9){
            border-right: 1px solid grey;
        }
    }
    .active{
        background: var(--color-dark);
        
    }
    a{
        color: var(--color-text);
    }
    .undefined{
        color: white;   
    }
    
}
